body{
background: rgb(31, 31, 83);  
text-align: center;
margin: 8px;
color: rgb(243, 248, 196); 
height: 100%;
width: 100%;
}



#title{
font-size: 3rem;
font-family: 'Press Start 2P', cursive;
margin: 5%;

}


.btn-green , .btn-red , .btn-yellow, .btn-blue{
height: 250px;   
width: 250px;
border-radius: 50px; 
margin-top: 50px;     
border: 10px solid black;
background-color: green;
margin-right: 40px;
}


.btn-red{
background-color: red; 
}


.btn-yellow{   
background-color: yellow;                   
}

.btn-blue{     
background-color: rgba(0, 0, 255, 0.993);
}