
body{
    background-color: rgb(30, 142, 207);
    text-align: center;
}

h1{
    color: #00f;
    margin-top: 200px;
    font-size: 6rem;
    
}
button{
    background-color: #ffff00;
    height: 100px;
    width: 150px;

}

.w{
  
}
.a{

}
.s{

}
.d{

}

.k{

}

.l{

}

